{% extends 'base.html' %}
{% from 'components.html' import navbar, contact_card, sign_in_card, terms_card %}

{% block title %}Sign-in{% endblock %}

{% block head %}
<script src= "{{ url_for('static', filename='/scripts/sign-in.js') }}" type="text/javascript" defer></script>
<script src= "{{ url_for('static', filename='/scripts/terms.js') }}" type="text/javascript" defer></script>
<script src= "{{ url_for('static', filename='/scripts/carousel.js') }}" type="text/javascript" defer></script>

<style>
    @keyframes cross-fade-blur {
        0% {
            opacity: 0;
            filter: blur(1rem);
            transform: translate3d(0, 8rem, 0);
        }
        15% {
            opacity: 1;
            filter: blur(0);
            transform: translate3d(0, 0, 0);
        }
        85% {
            opacity: 1;
            filter: blur(0);
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0;
            filter: blur(1rem);
            transform: translate3d(0, -8rem, 0);
        }
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .card {
        margin: 0 1.5em;
    }
</style>
{% endblock %}

{% block content %}
<span id="roam">
    <img src="{{ url_for('static', filename='/assets/letters/R.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/O.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/A.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/M.png') }}" class="letter">
</span>

{% if terms %}
    {{ terms_card() }}
{% else %}
    {{ sign_in_card(error) }}
{% endif %}

<span id="mates">
    <img src="{{ url_for('static', filename='/assets/letters/M2.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/A2.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/T.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/E.png') }}" class="letter">
    <img src="{{ url_for('static', filename='/assets/letters/S.png') }}" class="letter">
</span>
{% endblock %}
