{% extends 'base.html' %}
{% from 'components.html' import navbar, contact_card, profile_card %}

{% block title %}Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<script src="{{ url_for('static', filename='/scripts/carousel.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='/scripts/contact.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='/scripts/profile.js') }}" type="text/javascript" defer></script>

<style>
    .primary, .secondary {
        list-style: none;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .profile {
        margin: 15%;
        margin-top: 20rem;
    }
</style>
{% endblock %}

{% block content %}
{{ navbar() }}
{{ contact_card() }}

{{ profile_card(profile_info, avatar, joined_groups, group_avatars) }}
{% endblock %}
