<div class="card member">
    <p>Name</p>
    <p>Pronouns</p>
    <img src="" alt="">
</div>

<!--unsure if the checkbox feature is correct??? -->
<div class = "card terms-of-service">
    <h1>Terms of Service</h1>
    <p>Please read and check all boxes to proceed</p>   
    <ul class="terms-of-service-list">
        <li>
            <input type="checkbox" id="question1">
            <label for="question1">Question 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </label>
        </li>
        <li>
            <input type="checkbox" id="question2">
            <label for="question2">Question 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
        </li>
    </ul>
    <button class = "blue">Next</button>
    <img src = "" alt="">
</div>


<div class = "card profile-setup">
    <h1>Set Up Your Profile</h1>
    <div class="profile-picture">
        <label for="profile-picture">Upload Profile Picture:</label>
        <input type="file" id="profile-picture" accept="image/*">
    </div>

    <div class="name-input">
        <label for="user-name">What is your name?</label>
        <input type="text" id="user-name" placeholder="Enter name">
    </div>

    <button class = "blue">Next</button>
    <button class = "orange">Skip</button>

    <div class="second-page">
        <div class="pronouns">
            <label for="user-pronouns">What are your pronouns?</label>
            <input type="text" id="user-pronouns" placeholder="Enter your pronouns">
        </div>

    <div class="about-yourself-section">
        <label for="about-yourself">Tell us about yourself:</label>
        <textarea id="about-yourself" placeholder="Write a few sentences about yourself"></textarea>
        </div>
</div>


<div class="card contact">
    <h1>Contact Us</h1>
    <p>To contact us, please email: <a href="mailto:abc@gmail.com">abc@gmail.com</a></p>
    
    <div class="card resources">
        <h1>University Resources</h1>
        
        <ul class="resource-list">
            <li><a href="https://caps.charlotte.edu/" target="_blank">CAPS</a></li>
            <!-- Add more orgs later -->
        </ul>
    </div>
    
</div>
