/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color variables */
:root {
    --black: #0F0F0F;
    --dark-grey: #282828;
    --light-grey: #545454;
    --blue: #79D6D6;
    --orange: #D6A079;
    --green: #79D69E;
    --purple: #7B79D6;
    --pink: #BE79D6;
    --red: #D67979;
}

/* Body */
body {
    background-color: var(--black);
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

input {
    border: 0;
    width: 250px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--black);
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
    margin-top: 10px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

/* Components */
/* ---------- */

/* Buttons */

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: 0;
    cursor: pointer;
    filter: brightness(1) drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
    transition: all 0.2s;
}

.banner {
    background-color: var(--blue);
    padding: 5px 20px;
    border-radius: 8px;
    color: black;
}

.basic {
    font-size: medium;
    padding: 10px 0;
    width: 140px;
    border-radius: 13px;
    transition: all 0.2s;
}

button:hover {
    filter: brightness(130%) drop-shadow(4px 4px 2px rgba(0, 0, 0, 2));
}

.basic.blue {
    background-color: var(--blue);
}

.basic.orange {
    background-color: var(--orange);
}

/* Navbar */

nav {
    background-color: var(--dark-grey);
    padding: 15px 60px;
    filter: drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #logo {
    float: left;
    max-width: 8%;
    align-content: center;
    filter: drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: white; /* Adjust the color as needed */
    display: inline-block;
}

/* Cards */
/* ----- */

.card {
    background-color: var(--dark-grey);
    color: white;
    padding: 2em;
    border-radius: 2em;
    filter: brightness(1) drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
    overflow: auto;
}

.card::-webkit-scrollbar {
    display: none;
}

.green {
    background-color: var(--green);
}

.purple {
    background-color: var(--purple);
}

.pink {
    background-color: var(--pink);
}

.red {
    background-color: var(--red);
}

/* Post Card */

.post {
    margin-bottom: 2em;
    filter: brightness(1) drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
    transition: all 0.2s;
}

.post:hover {
    filter: brightness(120%) drop-shadow(6px 6px 2px rgba(0, 0, 0, 2));
}

.post ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.post li {
    margin-right: 1.5em;
    font-size: 1.5em;
    filter: brightness(100%) drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
}

.post p {
    margin-top: 0.4em;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.1em;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.post .secondary {
    opacity: 0.5;
    font-size: 1.1em;
}

/* Member List Card */

.member-list .member {
    margin-bottom: 1.5em;
}

.member-list h1 {
    text-align: center;
    margin-top: 0;
}

.green .member {
    background-color: var(--green);
}

.purple .member {
    background-color: var(--purple);
}

.pink .member {
    background-color: var(--pink);
}

.red .member {
    background-color: var(--red);
}

/* Member Card */

.member {
    width: 10em;
    display: flex;
    padding: 0.7em;
    height: 2.5em;
    border-radius: 14px;
}

.member p {
    margin: 0;
    font-size: 0.85em;
    font-weight: 1000;
    color: var(--black);
}

#name-pronouns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.member img {
    max-height: 40px;
    max-width: 40px;
    border-radius: 25%;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.member #avatar {
    display: flex;
    align-items: center;
}

/* Expanded Post Card */

#expanded-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expanded-post {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 5%;
    width: 60%;
    max-height: 80vh; /* Adjusted max-height */
    overflow-y: auto;
    align-items: center;
}

.expanded-post::-webkit-scrollbar {
    display: none;
}

.expanded-post hr {
    margin-top: 20px;
    width: 100%;
}

.expanded-post .basic.blue {
    margin-top: 20px;
}

#original-post > p {
    margin: 0;
    font-size: 1.1em;
}

.expanded-post ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
}

.expanded-post li {
    font-size: 2.5em;
    filter: brightness(100%) drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
}

.expanded-post .secondary {
    margin-top: 1.4em;
    opacity: 0.5;
    font-size: 1.1em;
}


/* Comment Card */

.comment {
    margin: 15px 0px;
    padding: 20px 25px;
    background-color: var(--black);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.comment > p {
    margin: 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#comment-header h2 {
    margin: 0;
    margin-top: 10px;
    opacity: 0.5;
    font-size: small;
}

/* Sign-in Card */

.sign-in {
    padding: 25px 50px;
}

.sign-in h1 {
    margin-bottom: 30px;
}

/* Terms of Service Card */

.terms-of-service {
    padding: 25px 50px;
    text-align: center;
    height: 40em; 
    overflow-y: auto;
}

.terms-of-service p {
    text-align: left;
    width: 25em;
}

.terms-of-service .checkbox {
    margin: 0;
    width: 2em;
    margin-left: auto;
    margin-right: auto;
}

#confirm-terms {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Group Card */

.group {
    display: flex;
    margin-bottom: 2em;
    transition: all 0.2s;
}

.group .column {
    display: flex;
    flex-direction: column;
}

.group #left {
    margin-right: 3em;
}

.group #left p {
    margin-top: 1.5em;
}

.group #right {
    align-items: center;
    justify-content: center;
}

.group #right img {
    width: 12em;
    border-radius: 10%;
    margin-bottom: 1em;
    filter: drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
}

.group:hover {
    filter: brightness(120%) drop-shadow(6px 6px 2px rgba(0, 0, 0, 2));
}

.group ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.group li {
    margin: 0;
    margin-right: auto;
    font-size: 1.5em;
    text-align: center;
    filter: brightness(100%) drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
}

.group p {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.1em;
}

.group .secondary {
    opacity: 0.5;
    margin-left: 1.2em;
    margin-top: auto;
    margin-right: 0;
    font-size: 1.1em;
    padding-bottom: 2px;
}

/* Profile Card */

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#profile-head {
    display: flex;
}

.profile .text ul {
    display: flex;
    gap: 1.5rem;
    align-items: baseline;
    margin-left: -2.6rem;
}

.profile .text .primary {
    font-size: 2.35em;
}

.profile .text .secondary, .profile .text p {
    font-size: 1.15em;
}

.profile .text .secondary {
    opacity: 50%;
}

#profile-head img {
    min-width: 12rem;
    min-height: 12rem;
    width: 20%;
    height: 20%;
    border-radius: 13px;
    filter: brightness(1) drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
    margin-left: 2em;
}

#carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel-container p {
    background-color: var(--black);
    text-align: center;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 175px;
    position: absolute;
    z-index: 2;
}

/* Carousel Card */

.carousel {
    margin-top: 1.7rem;
    margin-bottom: 2.5rem;
    padding: 2em;
    background-color: var(--light-grey);
    border-radius: 2em;
    filter: brightness(1) drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
    width: 55.5em;
}

.carousel #header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel #container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel #content {
    display: flex;
    scroll-behavior: smooth;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.carousel #content > * {
    scroll-snap-align: center;
}

.carousel #content::-webkit-scrollbar {
    display: none;
}

#carousel-right, #carousel-left {
    background: transparent;
    border: none;
    color: var(--orange);
    font-size: 1.4rem;
}

#carousel-left {
    position: absolute;
    right: 99%;
}

#carousel-right {
    position: absolute;
    left: 99%;
}

/* Mini-Group Card */

.mini-group, .mini-group ul {
    display: flex;
    flex-direction: column;
}

.mini-group {
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 1em;
}

.mini-group ul {
    gap: 0.5rem;
    margin-top: -5px;
}

.mini-group .primary, .mini-group .secondary {
    text-align: center;
    margin-right: 2.6rem;
}

.mini-group img {
    max-width: 100%;
    border-radius: 16px;
    filter: brightness(1) drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.75));
}

/* Contact Card */

.contact {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22em;
    padding: 1em 2.5em;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: 4em;
    right: 2em;
    z-index: -1;
}

.contact.open {
    opacity: 1;
    z-index: 999;
}

.contact #our-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact #our-contact p {
    line-height: 1.8em;
}

.contact #resources {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact #resource-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.contact #resource-list li {
    margin-bottom: 10px;
}

.contact #resource-list a, .contact #our-contact a {
    color: var(--red); 
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s;
}

.contact #resource-list a:hover, .contact #our-contact a:hover {
    filter: brightness(130%) drop-shadow(4px 4px 2px rgba(0, 0, 0, 2));
}
