/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color variables */
:root {
    --black: #0F0F0F;
    --dark-grey: #282828;
    --light-grey: #545454;
    --blue: #79D6D6;
    --orange: #D6A079;
    --green: #79D69E;
    --purple: #7B79D6;
    --pink: #BE79D6;
    --red: #D67979;
}

/* Body */
body {
    background-color: var(--black);
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Components */
/* ---------- */

/* Buttons */
.banner {
    background-color: var(--blue);
    padding: 5px 20px;
    filter: drop-shadow(4px 4px 4px black);
    border-radius: 5px;
    color: black;
}

/* Navbar */
nav {
    background-color: var(--dark-grey);
    padding: 15px 60px;
    filter: drop-shadow(0px 6px 4px black);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #logo {
    float: left;
    max-width: 8%;
    align-content: center;
    filter: drop-shadow(4px 4px 4px black);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: white; /* Adjust the color as needed */
    display: inline-block;
}

/* Cards */
/* ----- */

.card {
    background-color: var(--dark-grey);
    color: white;
    padding: 25px;
    border-radius: 10px;
}

/* Post Card */

.card.post {
    display: flex;
}

.card.post.secondary li {
    opacity: 0.5;
}


.card.terms-of-service {
    /* card styles */
}

.question-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.question-list li {
    margin-bottom: 10px;
}

/* The checkboxes */
.question-list input[type="checkbox"] {
    margin-right: 5px;
}


/*Code that stylizes the container and popup to align with the style of the website*/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282828;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* contact card */
contact-card {
    display: block; /* contact card is a block-level element */
    background-color: #282828; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    color: white; /
}

/* heading */
contact-card h1 {
    color: #FFFFFF;
}

/* paragraph */
contact-card p {
    margin-top: 10px;
}

/* resource list */
contact-card .resource-list {
    list-style: none;
    padding: 0;
}

/* resource list items */
contact-card .resource-list li {
    margin-bottom: 10px;
}

/* links in the resource list */
contact-card .resource-list a {
    color: #D67979; 
    text-decoration: none;
    font-weight: bold;
}

/* links on hover */
contact-card .resource-list a:hover {
    text-decoration: underline;
}

/*Profile Page Styles*/
#profile .text ul {
    display: flex;
    gap: 1.5rem;
    align-items: baseline;
    list-style: none;
    margin-left: -2.6rem;
}

#profile .text .primary {
    font-size: 30px;
}

#profile .text .secondary {
    font-size: 20px;
    opacity: 50%;
}