<!-- 
    Navbar
    -----------
    Used for displaying another user's info in a small button-like window
 -->
{% macro navbar() -%}
<nav>
    <img id="logo" src="{{ url_for('static', filename='/assets/Roammates Logo.png') }}" alt="">
    <ul>
        <li><a href="/server/groups_list"><button class="banner"><img src="" alt="">Home</button></a></li>
        <li><a href="profile.html"><button class="banner"><img src="" alt="">Profile</button></a></li>
        <li><button id="contact-button" class="banner"><img src="" alt="">Contact Us</button></li>
        <li><a href="/server/logout"><button class="banner"><img src="" alt="">Sign Out</button></a></li>
    </ul>
</nav>
{%- endmacro %}


<!-- 
    Member Card
    -----------
    Used for displaying another user's info in a small button-like window
 -->
{% macro member_card(color, name, pronouns) -%}
<div id="member-container">
    <div class="card {{ color }} member" id="">
        <div id="name-pronouns">
            <p>{{ name }}</p>
            <p>{{ pronouns }}</p>
        </div>
        <div id="avatar">
            <img src="{{ url_for('static', filename='/assets/Profile Avatar.jpg') }}" alt="">
        </div>
    </div>
</div>
{%- endmacro %}


<!-- 
    Members List Card
    -----------
    A compact list of users who are currently in a group
 -->
{% macro member_list_card(members) -%}
<div>
    <div class="card member-list" id="">
        <h1>Members</h1>
        {% for i in range(members | length) %}
            {{ member_card(members[i][7], members[i][3], members[i][4]) }}
        {% endfor %}
    </div>
</div>
{%- endmacro %}


<!-- 
    Profile Setup card
    ------------------
    Displays after successfully verifying email in the sign-up section
    Information gets stored under the user's profile information
 -->
{% macro profile_setup_card() -%}
<div class="card profile-setup" id="">
    <h1>Set Up Your Profile</h1>
    <div class="profile-picture">
        <p>Upload an Avatar</p>
        <img src="" alt="">
    </div>

    <h1>What is your name?</h1>
    <form>
        <input type="text" id="name" name="name" class="input-field" required>
        <button type="submit" class="basic blue">Next</button>
    </form>

    <button class="basic orange">Skip</button>
</div>
{%- endmacro %}


<!-- 
    Contact card
    ------------
    Basic area for displaying information on school resources, where to contact us, etc.
 -->
{% macro contact_card() -%}
<div class="card contact" id="">
    <div id="our-contact">
        <h1>Contact Us</h1>
        <p>To contact us, please email: <br><a href="mailto:abc@gmail.com">abc@gmail.com</a></p>
    </div>

    <div id="resources">
        <h1>University Resources</h1>

        <ul id="resource-list">
            <li><a href="https://caps.charlotte.edu/" target="_blank">Center for Counseling and Psychological
                    Services</a></li>
            <li><a href="https://cic.charlotte.edu/" target="_blank">Center for Integrated Care</a></li>
            <li><a href="https://sass.charlotte.edu/" target="_blank">Student Assistance and Support Services</a></li>
        </ul>
    </div>
</div>
{%- endmacro %}


<!-- 
    Group card
    ----------
    Displays a group's summary for the 'list of groups' page
 -->
{% macro group_card(i, groups, members, avatars, joined_groups) -%}
<div class="card group" id="">
    <div class="column" id="left">
        <ul>
            <li class="primary">{{ groups[i]['title'] }}</li>
            <li class="secondary">{{ groups[i]['location'] }}</li>
            <li class="secondary">Members: {{ members[i][2] }}</li>
        </ul>
        <p>
            {{ groups[i]['description'] }}
        </p>
    </div>
    <div class="column" id="right">
        <img src="data:;base64,{{ avatars[i] }}" alt="">
        {% if groups[i][0] in joined_groups %}
            <form method="POST">
                <button type="submit" name="leave" value="{{ groups[i][0] }}" class="basic orange">Leave</button>
            </form>
        {% else %}
            <form method="POST">
                <button type="submit" name="join" value="{{ groups[i][0] }}" class="basic blue">Join</button>
            </form>
        {% endif %}
    </div>
</div>
{%- endmacro %}


<!-- 
    Profile card
    ------------
    Displays the user's profile information such as their name, pronouns, avatar, and also contains a 
    carousel for displaying their active groups
 -->
{% macro profile_card() -%}
<div class="card profile" id="">
    <div id="profile-head">
        <div class="text">
            <ul>
                <li class="primary">Name</li>
                <li class="secondary">Pronouns</li>
            </ul>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <img src="{{ url_for('static', filename='assets/Profile Avatar.jpg') }}" alt="Profile Avatar">

    </div>

    <div id="carousel-container">
        <p>Groups</p>
        {{ carousel_card() }}
    </div>

    <button class="basic blue">Edit</button>
</div>
{%- endmacro %}


<!-- 
    Carousel Card
    ---------------
    A carousel that allows users to view the groups they've joined on their profile page.
 -->
{% macro carousel_card() -%}
<div class="carousel">
    <div id="container">
        <button id="carousel-left"><i class="fa-solid fa-circle-arrow-left fa-lg" style="color: #79d6d6;"></i></button>
        <div id="content">
            {{ mini_group_card() }}
            {{ mini_group_card() }}
            {{ mini_group_card() }}
            {{ mini_group_card() }}
            {{ mini_group_card() }}
            {{ mini_group_card() }}
        </div>
        <button id="carousel-right"><i class="fa-solid fa-circle-arrow-right fa-lg"
                style="color: #79d6d6;"></i></button>
    </div>
</div>
{%- endmacro %}


<!-- 
    Mini Group card
    ---------------
    A miniature version of the group card to be used in the profile carousel
 -->
{% macro mini_group_card() -%}
<div>
    <div class="card mini-group" id="">
        <ul>
            <li class="primary">Title</li>
            <li class="primary">Location</li>
        </ul>

        <img src="{{ url_for('static', filename='assets/Group Avatar.png') }}" alt="Group Avatar">
    </div>
</div>
{%- endmacro %}


<!-- 
    Sign-in Card
    ------------
    Allows the user to sign in with a username/password form
    Contains a button to go to the sign-up screen/card
 -->
{% macro sign_in_card(error) -%}
    <div>
        <div class="card sign-in" id="" style="text-align: center;">
            <h1>Welcome</h1>

            <p class="sub-primary">You will need a UNC Charlotte<br>email address in order to proceed.</p>
            <p class="sub-primary">Sign in or sign up here.</p>
            {% if error %}
            <p class="sub-primary" style="color: #D6A079;">{{ error }}</p>
            {% endif %}
            <a href="/server/login"><button type="submit" class="basic blue" id="signin-button">Sign in</button></a>
        </div>
    </div>
{%- endmacro %}


<!-- 
    Expanded Post card
    ---------
    An expanded view of a post that shows a scrollable list of the comments as well as the user that posted
 -->
{% macro expanded_post_card(post, author, comments) -%}
<div id="expanded-container">
    <div class="card expanded-post" id="">
        <div id="original-post">
            <div id="post-header">
                <h1></h1>
                <h2></h2>
                <!-- member card -->
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <!-- Reply container -->
        <div id="reply-container" style="display: none;">
            {{ reply_card() }}
        </div>
        <hr>
        {% for i in comments %}
            {{ comment_card() }}
        {% endfor %}

        <button class="basic blue">Reply</button>
    </div>
</div>
{%- endmacro %}


<!-- 
    Comment card
    ------------
    For use in expanded post card
    Displays a user's member card, the date posted, and the comment that they typed
 -->
{% macro comment_card(color) -%}
<div>
    <div class="card comment" id="">
        <div id="comment-header">
            {{ member_card(color) }}
            <h2>Date Posted</h2>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
{%- endmacro %}


<!-- 
    Post card
    ------------
    Displays a concise version of a post from a group
 -->
{% macro post_card(id, title, content, posted_at, author, color, pronouns) -%}
<div>
    <div class="card post" id="{{ id }}">
        <ul>
            <li class="primary">{{ title }}</li>
            <li class="secondary">{{ date_posted }}</li>
            {{ member_card(color, author, pronouns) }}
        </ul>
        <p>{{ content }}</p>
    </div>
</div>
{%- endmacro %}


<!-- 
    Reply Card
    ------------
    Displays the user's member card, date posted, and reply that they typed
 -->
{% macro reply_card() -%}
<div>
    <div class="card" id="reply-card">
        <div id="reply-header">
            {{ member_card(color) }}
            <h2>Date Posted</h2>
        </div>
        <p>
            <!-- Display the reply content here -->
            This is my reply and this is what I think of your post.
        </p>
        <button class="basic blue" id="cancel-reply-button">Cancel</button>
    </div>
</div>
{%- endmacro %}



<!-- 
    Terms of Service Card
    ---------------------
    A scrollable checkbox list that states the potential dangers for the user in operating the site
 -->
{% macro terms_card() -%}
<div class="card terms-of-service" id="" style="text-align: center;">
    <h1>Terms of Service</h1>

    <div class="question">
        <p>
            1. All of UNCC's policies apply to this platform and must be
            followed at all times. Failure to adhere to the University's policies will result in direct
            termination of your account. The UNCC Code Of Conduct can be found here:
            <br><br>https://legal.charlotte.edu/policies/up-406<br><br>

            This and other policies will be located on the "Contact Us" page for reference at any time.
            Do you agree to be aware of and follow all university policies?
        </p>
        <input type="checkbox" id="agree1" name="agree1" class="checkbox">
    </div>

    <div class="question">
        <p>
            2. The ONLY personal information that will be collected is your name, university email, and location.
            It will only be accessible to the employees of Roammates and UNCC. We will
            not sell your information to third parties. Do you consent to data collection?
        </p>
        <input type="checkbox" id="agree2" name="agree2" class="checkbox">
    </div>

    <div class="question">
        <p>
            3. Users can anonymously report any innapropriate behavior from other users in the "Contact Us" page.
            Do you acknowledge this section?
        </p>
        <input type="checkbox" id="agree3" name="agree3" class="checkbox">
    </div>

    <div class="question">
        <p>
            4. The administration of Roammates reserves the right to terminate any accounts that violate
            our policies, terms, or conditions. Moderators will be monitoring forums for safety and etiquette.
            Do you acknowledge this?
        </p>
        <input type="checkbox" id="agree4" name="agree4" class="checkbox">
    </div>

    <div class="question">
        <p>
            5. These terms can be modified at any time and must be read and
            accepted by users before continuing to use this platform. You will always be notified of any term changes.
            Do you agree to these terms?
        </p>
        <input type="checkbox" id="agree5" name="agree5" class="checkbox">
    </div>

    <a href="/server/add_user"><button type="button" id="confirm-terms" class="basic orange">Agree to Terms</button></a>
</div>
{%- endmacro %}